@model Pos.Web.DTOs.SectionDTO

@{
    ViewData["Title"] = "Sección";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}



<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Sección</li>
        </ol>
    </nav>
</div><!-- End Page Title -->



