@model Pos.Web.Data.Entities.Categories

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Editar categoria</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Categorias</li>
            <li class="breadcrumb-item active">Editar categoria</li>
        </ol>
    </nav>
</div>
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="categoryName" class="control-label"></label>
                <input asp-for="categoryName" class="form-control" />
                <span asp-validation-for="categoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryDescription" class="control-label"></label>
                <input asp-for="categoryDescription" class="form-control" />
                <span asp-validation-for="categoryDescription" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
