@model Pos.Web.DTOs.SalesDTO

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Editar Venta</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Ventas</li>
            <li class="breadcrumb-item active">Editar Venta</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateSales" class="control-label"></label>
                <input asp-for="DateSales" class="form-control" />
                <span asp-validation-for="DateSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountsSales" class="control-label"></label>
                <input name="DiscountsSales" class="form-control" value="@Model.DiscountsSales.ToString("0.00")" id="DiscountsSales" />
                <span asp-validation-for="DiscountsSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSales" class="control-label"></label>
                <input name="TotalSales" class="form-control" value="@Model.TotalSales.ToString("0.00")" id="TotalSales" />
                <span asp-validation-for="TotalSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option value="">Seleccione...</option> <!-- Opción por defecto -->
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                    <option value="Tarjeta de débito">Tarjeta de débito</option>
                    <option value="Transferencia bancaria">Transferencia bancaria</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesType" class="control-label"></label>
                <select asp-for="SalesType" class="form-control">
                    <option value="">Seleccione...</option> <!-- Opción por defecto -->
                    <option value="Venta al contado">Venta al contado</option>
                    <option value="Venta a crédito">Venta a crédito</option>
                    <option value="Venta por cuotas">Venta por cuotas</option>
                    <option value="Venta con descuento">Venta con descuento</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <span asp-validation-for="SalesType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="Model.Customer"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
