@model Pos.Web.Data.Entities.Customer

@{
    ViewData["Title"] = "Nuevo Cliente";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Nuevo Cliente</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Clientes</li>
            <li class="breadcrumb-item active">Nuevo cliente</li>
        </ol>
    </nav>
</div>
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress" class="control-label"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerType" class="control-label"></label>
        <select asp-for="CustomerType" class="form-control">
            <option value="">Seleccione...</option> <!-- Opción por defecto -->
            <option value="Nuevo">Nuevo</option>
            <option value="Regular">Regular</option>
            <option value="Mayorista">Mayorista</option>
            <option value="Recurrente">Recurrente</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
        <span asp-validation-for="CustomerType" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</form>

        
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
